pipeline/GetMetaData_Example.json
{
	"name": "GetMetaData_Example",
	"properties": {
		"description": "GetMetaData_Example",
		"activities": [
			{
				"name": "Get Metadata Details From ADLS",
				"description": "Get Metadata Details From ADLS",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ADLS_AnyFolder_CSV",
						"type": "DatasetReference",
						"parameters": {
							"Folder_Name": "Customer/2024/03/15"
						}
					},
					"fieldList": [
						"itemType",
						"itemName",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach Activity for File",
				"description": "ForEach Activity for File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata Details From ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata Details From ADLS').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Check if File exists",
							"description": "Check if File exists",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().name,'Customer')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy Customer File",
										"description": "Copy Customer File",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "CSV_Folderwise_Structure",
												"type": "DatasetReference",
												"parameters": {
													"Folder_Name": {
														"value": "Customer/2024/03/15",
														"type": "Expression"
													},
													"File_Name": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "CSV_Folderwise_Structure",
												"type": "DatasetReference",
												"parameters": {
													"Folder_Name": {
														"value": "Customer/@{formatDateTime(utcNow(),'yyyy')}/@{formatDateTime(utcNow(),'MM')}/@{formatDateTime(utcNow(),'dd')}",
														"type": "Expression"
													},
													"File_Name": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}