pipeline/Ingestion_Product_To_JSON_Inline.json
{
	"name": "Ingestion_Product_To_JSON_Inline",
	"properties": {
		"description": "Product_Count ",
		"activities": [
			{
				"name": "Address Count",
				"description": "Address Count",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT Count(1) Addr_Count FROM [SalesLT].[Address]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSQLDB_Dataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Check Product Count",
				"description": "Check Product Count ",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Address Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Address Count').output.firstRow.Addr_Count ,100)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy Address to ADLS CSV",
							"description": "Copy Address to ADLS CSV",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSQLDB_Anytable",
									"type": "DatasetReference",
									"parameters": {
										"Table_Name": "Address",
										"Schema_Name": "SalesLT"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS_AnyFolder_CSV",
									"type": "DatasetReference",
									"parameters": {
										"Folder_Name": {
											"value": "@pipeline().parameters.Address",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Address": {
				"type": "string",
				"defaultValue": "Address"
			}
		},
		"annotations": []
	}
}