pipeline/Threshold_Pipeline_Customer.json
{
	"name": "Threshold_Pipeline_Customer",
	"properties": {
		"description": "Threshold_Pipeline_Customer",
		"activities": [
			{
				"name": "Lookup For Threshold File",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Read_Threshold_DS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Check if Threshold Meets",
				"description": "Check if Threshold Meets",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup For Threshold File",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup For Customer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Lookup For Customer').output.firstRow.Total_Count,int(activity('Lookup For Threshold File').output.firstRow.Threshold_Value))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy_Customer_JSON_To_Folder",
							"description": "Copy_Customer_JSON_To_Folder",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "AzureSQLDB_Anytable",
									"type": "DatasetReference",
									"parameters": {
										"Table_Name": "Customer",
										"Schema_Name": "SalesLT"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS_AnyJSON_Dataset",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup For Customer",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT Count(1) Total_Count FROM [SalesLT].[Customer]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSQLDB_Dataset",
						"type": "DatasetReference"
					}
				}
			}
		],
		"annotations": []
	}
}